.App {
  font-family: "Vazirmatn", sans-serif;
  text-align: center;
}
.label {
  text-align: right;
}

.muirtl-6ir2fy-MuiButtonBase-root-MuiMenuItem-root {
  direction: rtl;
}

@media screen {
  .noPrint {
  }
  .noScreen {
    display: none;
  }
}

@media print {
  .noPrint {
    display: none;
  }
  .noScreen {
  }
}

.css-e4w4as-MuiFormLabel-root-MuiInputLabel-root,
.css-o943dk-MuiFormLabel-root-MuiInputLabel-root,
.css-12xj28v-MuiFormLabel-root-MuiInputLabel-root,
.css-1gcj221-MuiFormLabel-root-MuiInputLabel-root {
  left: auto !important;
  right: 24px;
  transform-origin: top right !important;
}
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  right: auto !important;
  left: 7px;
}
.css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input.css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input.css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input {
  text-align: right;
}

.css-6ir2fy-MuiButtonBase-root-MuiMenuItem-root {
  flex-direction: row-reverse !important;
}
/* .css-o943dk-MuiFormLabel-root-MuiInputLabel-root {
  left: auto !important;
  transform-origin: top right !important;
  right: 0;
} */
